USE_REAL_INJECTIVE=false
INJECTIVE_NETWORK=testnet
INJECTIVE_PRIVATE_KEY=
INJECTIVE_ADDRESS=
INJECTIVE_MEMO_PREFIX=AgentProof
INJECTIVE_RPC_URL=
INJECTIVE_GRPC_URL=
INJECTIVE_REST_URL=
INJECTIVE_ANCHOR_AMOUNT=1
INJECTIVE_ANCHOR_GAS_LIMIT=300000
